*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.sourcemaps/
.vscode/
.sass-cache/
.versions/
coverage/
collection/
dist/
node_modules/
www/
platforms/
tmp/
temp/
core/theme-builder/
core/test-components/
$RECYCLE.BIN/
.sourcemaps
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

.package.tmp.json

src/themes/version.scss
scripts/e2e/webpackEntryPoints.json
scripts/build/e2e-generated-tsconfig.json
*.css.ts

/resources/android/
/resources/ios/
plugins/
package-lock.json

stencil-stats.json
